<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VueJS Intro</title>
    
</head>
<body>

    <div id="myApp">
        <h1>Batman quotes</h1>
            <ul style="list-style: none">
                <li v-for="({quote, author}, index) in quotes">
                    <span>{{ index + 1 }} - {{ quote }}</span>
                    <blockquote>-{{ author }}</blockquote>
                </li>
                <!-- Desestructar desde la directiva v-for -->
                <!-- <li v-for="{quote, author} in quotes">
                    <span>{{ quote}}</span>
                    <blockquote>-{{ author }}</blockquote>
                </li> -->
                

            </ul>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
</body>
</html>